@import url('https://fonts.googleapis.com/css?family=Roboto');

html, body {
  width: 100px;
  font-family: roboto;
}

button {
  text-align: center;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  background: #0069ed;
  color: #ffffff;
  font-weight: bold;
  font-size: 18px;
  line-height: 1;
  cursor: pointer;
  transition: background 100ms ease-in-out, transform 150ms ease;
}

button::-moz-focus-inner {
    border: 0;
}

button:hover{
    background: #0053ba;
}

button:active {
    transform: scale(0.95);
}